#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* 左5列 + 右5列。未配列は &trans でOK（後で好きに埋めて） */
            bindings = <
                &kp Q   &kp W   &kp E   &kp R      &kp T        &kp P   &kp O       &kp I     &kp U          &kp Y
                &kp A   &kp S   &kp D   &kp F      &kp G        &trans  &kp L       &kp K     &kp J          &kp H
                &kp Z   &kp X   &kp C   &kp V      &kp B        &bt BT_CLA  &kp COMMA   &kp DOT   &kp M          &kp N
                &trans  &trans  &trans  &kp LEFT_SHIFT  &kp SPACE    &trans  &trans      &trans    &kp BACKSPACE  &kp ENTER
            >;
        };
    };
};

