if SHIELD_ATSUKEY_LEFT

config ZMK_KEYBOARD_NAME
    default "atsukey"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif

if SHIELD_ATSUKEY_RIGHT

config ZMK_KEYBOARD_NAME
    default "atsukey"

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config ZMK_USB
    default n

endif
