if SHIELD_atsukey_left

config ZMK_KEYBOARD_NAME
    default "atsukey"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif

if SHIELD_atsukey_right

config ZMK_KEYBOARD_NAME
    default "atsukey"

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif
