manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: fuku813-ui
      url-base: https://github.com/fuku813-ui
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-pmw3610-driver
      remote: fuku813-ui
      revision: main
  self:
    path: config
